html, body, .container, .main-content{
  height: 100%;
}


.user-info,.resume-info{
  box-sizing: border-box;
}
.user-info{
  background: #3b3b3b;
  color: #e8e8e8;
}
.user-info .avatar{
  padding-top: 100px;
}
.user-info .avatar img{
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 50%;
  border: 3px solid #e8e8e8;
}

.resume-info{
  background: #e8e8e8;
  color: #3b3b3b;
  padding: 1rem 2rem;
}
.resume-info .resume-item{
  padding-left: 1rem;
  border-bottom: 1px solid #3b3b3b;
}
.resume-info .resume-item h3{
  text-align: left;
  font-size: 1.8rem;
  font-weight: 600;
}
.resume-item .resume-item-info {
  margin-bottom: .8rem;
}
.resume-item .resume-item-info p{
  margin: 0;
  display: inline-block;
}
.resume-item .resume-item-info .item-name{
  margin-bottom: .4rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.resume-item .resume-item-info .item-value{
  margin-top: .4rem;
  font-size: 1.4rem;
}

/*
    ##Device = Desktops
  */
@media (min-width: 1025px) {
  #main-content{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
  }
  .user-info{
    flex: 2;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    height: 100%;
    width: 23%;
    overflow: scroll;
  }
  .resume-info{
    flex: 8;
    position: fixed;
    height: 100%;
    width: 77%;
    right: 0;
    overflow: scroll;
  }

  .user-info .main-info h3{
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 1px dotted #e8e8e8;
    padding-bottom: .8rem;
    width: 60%;
    margin: 2rem auto;
  }
  .user-info .main-info p{
    margin: 0;
    display: inline-block;
  }
  .user-info .main-info a{
    color: #e8e8e8;
  }
  .main-info .info-item{
    margin-bottom: 1.8rem;
  }
  .main-info .info-item .item-name{
    font-size: 1.6rem;
    font-weight: 600;
    width: 7rem;
  }
  .main-info .info-item .item-value{
    font-size: 1.4rem;
    text-align: right;
  }
  .main-info .info-item .item-special{
    font-weight: 600;
  }
}

/*
    ##Device = Mobile/Ipad
  */
@media (max-width: 1024px) {
  .user-info .avatar{
    padding-top: 100px;
  }
}
