html,
body,
.container,
.main-content {
  height: 100%;
}

.user-info,
.resume-info {
  box-sizing: border-box;
}
.user-info {
  background: #3b3b3b;
  color: #e8e8e8;
}
.user-info .avatar {
  padding-top: 100px;
}
.user-info .avatar img {
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 50%;
  border: 3px solid #e8e8e8;
}

.resume-info {
  background: #e8e8e8;
  color: #3b3b3b;
  box-sizing: border-box;
}

.section-hd {
  position: relative;
  height: 32px;
  margin: 10px auto 5px;
  overflow: hidden;
}
.section-title-l {
  left: 0;
}
.section-title-r {
  right: 0;
}
.section-title-l,
.section-title-r {
  position: absolute;
  top: 43%;
  display: inline-block;
  width: 35%;
  height: 0;
  vertical-align: middle;
  border-top: 1px solid #3b3b3b;
}
.section-title {
  position: relative;
  z-index: 1;
  width: 24%;
  min-width: 100px;
  margin: 0 auto;
  padding: 4px 10px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #e8e8e8;
  background-color: #3b3b3b;
}

.resume-item{
  margin-bottom: 2.8rem;
}

.item-content{
  margin-bottom: 1.4rem;
}
.item-content header{
  font-size: 1.3rem;
  margin-bottom: .6rem;
  line-height: 1.8;
  position: relative;
}
.item-content header h3{
  font-size: 1.4rem;
  font-weight: 600;
}
.item-content .item-list-title{
  line-height: 1.8;
}
.item-content .item-list,.skill-content .skill-list{
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.item-content .item-list ul li,.skill-content .skill-list ul li{
  line-height: 1.8;
  list-style: square inside;
}

.resume-info{
  padding: 1rem 2rem;
}
.resume-item .skill-content{
  box-sizing: border-box;
  margin-bottom: 2rem;
}
.resume-item .skill-content header{
  background: linear-gradient(to right, #3b3b3b, #e8e8e8);
  color: #e8e8e8;
  line-height: 2;
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.resume-item .skill-content header.degree-100{
  width: 100%;
}
.resume-item .skill-content header.degree-80{
  width: 80%;
}
.resume-item .skill-content header.degree-90{
  width: 80%;
}
.resume-item .skill-content header.degree-70{
  width: 70%;
}


/*
    ##Device = Desktops
  */
@media (min-width: 1025px) {
  #main-content {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
  }
  .user-info {
    flex: 2;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    height: 100%;
    width: 23%;
    overflow: auto;
  }
  .resume-info {
    flex: 8;
    position: fixed;
    height: 100%;
    width: 77%;
    right: 0;
    overflow: auto;
  }

  .user-info .main-info h3 {
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 1px dotted #e8e8e8;
    padding-bottom: 0.8rem;
    width: 60%;
    margin: 2rem auto;
  }
  .user-info .main-info p {
    margin: 0;
    display: inline-block;
  }
  .user-info .main-info a {
    color: #e8e8e8;
  }
  .main-info .info-item {
    margin-bottom: 1.8rem;
  }
  .main-info .info-item .item-name {
    font-size: 1.6rem;
    font-weight: 600;
    width: 7rem;
  }
  .main-info .info-item .item-value {
    font-size: 1.4rem;
    text-align: right;
  }
  .main-info .info-item .item-special {
    font-weight: 600;
  }

  .resume-info{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
  }
  .resume-info .resume-info-l,.resume-info .resume-info-r{
    flex: 1;
    margin: 1rem;
  }
}

/*
    ##Device = Mobile/Ipad
  */
@media (max-width: 1024px) {
  .user-info .avatar {
    padding-top: 100px;
  }

  
}
